body
{
    background-color:#123C69;
}
.Title
{
    font-size:70pt;
    text-emphasis:Bold;
    text-align:center;
    color:#BAB2B5;
    background-color:
}
.Description
{
    padding-top:20pt;
    padding-bottom:100pt;
    width:auto;
    text-align:center;
    font-size: 25pt;
    color: #BAB2B5;
}
.Learn
{
    height:400px;
    width:100%;
    padding-left:50px;
    
}
.HTML
{
    height:400px;
    width:100%;
    text-align:end;
    
}
.JavaScript
{
    height:400px;
    width:100%;
    padding-left:50px;
}
.CSS
{
    height:400px;
    width:100%;
    text-align:end;
    padding-right:50px;
}
p
{
    font-size:50pt;
    float:left;
    padding-right:10%;
}
.colorBlockL
{
    width:60%;
    height:200px;
    float:left;
    background-color:#BAB2B5;
}
.colorBlockR
{
    width:60%;
    height:200px;
    float:right;
    background-color:#BAB2B5;
}
img
{
   
    height:200px;
    float:left;
    
}

/*Stylish and Sophisticated Theme
MID GREY #5D5C61
LIGHT GREY #379683
LIGHT BLUE #7395AE
MID BLUE #557A95
TAN #B1A296
*/

/* Lively and Inviting
MID PEACH PINK #E7717D
LIGHT BLUE GREY #C2CAD0
LIGHT GREY #C2B9B0
MID DARK BROWN TAUPE #7E685A
LIGHT GREEN #AFD275
*/

/*Elegant Yet Approachable
Light Rose Gold     #EDC7B7
Light Cream Grey    #EEE2DC
Light Grey          #BAB2B5
Dark Blue           #123C69
Dark rRose          #AC3B61
*/

/*Classy and Traditional
Mid Grey            #5F6366
Mid blue            #4D6D9A
light lavendar blue #86B3D1
light blue green    #99CED3
light pink          #EDB5BF
*/
